.maindiv {
    vertical-align: top;
    margin: 0 auto;
    display: flex;
    width: 100%;
    max-width: 1240px;
}
.header {
    vertical-align: top;
    margin: 0 auto;
    position: relative;
    max-width: 1240px;
}
.nav {
        background: orange;
        width: 100%;
        height: 100px;
        border-radius: 50px 50px 0px 0px;
}
.navul {
    list-style: none;
    overflow: hidden;
    padding-left: 70px;
    padding-top: 10px;
}
.a1 {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: cursive;
}
.color1{
    background: yellow;
}
.color2{
    background: rgb(199, 192, 192);
}
.div {
    justify-content: center;
    display: flex;
    width: 50%;
}
.divinf{
    justify-content: left;
    display: flex;
    width: 50%;  
}
.img{
    width: 240px;
    height: 300px;
}
.h1{
    font-size: 76px;
    padding-top: 30px;
    font-family: cursive;
}
.ul{
    font-size: 25px;
}
.hr {
    width: 100%;
    max-width: 1240px;
    height: 8px;
    background: orange;
}
#h2{
    font-size: 50px;
    font-family: cursive;
}
.about {
padding-top: 50px;
}
.skill {
    padding-top: 40px;
}
.footer {
    vertical-align: top;
    margin: 0 auto;
    position: relative;
    display: flex;
    max-width: 1240px;
    width: 100%;
    background: orange;
    border-radius: 0px 0px 50px 50px;
}
.bac {
    padding-left: 90px;
}
.vk {
    padding-left: 450px;
}
.imgfot {
    margin: 10px;
    width: 50px;
    height: 50px;
}
.h4 {
    font-size: 30px;
   padding-left: 430px;
}